:root {
	--blue: #039be5;
	--slide-closed-width: 36px;
	--slide-open-width: 35vw;
}

.spectrum-UIIcon-CrossMedium {
	width: 14px;
	height: 10px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow: hidden;
}

#main-content-inner {
	width: 100%;
}

#main-content-outer {
	padding-right: var(--slide-closed-width);
	transition: 0.15s;
	width: 100%;
}

#main-content-outer.drawer-open {
	padding-right: var(--slide-open-width);
}

#slide-menu {
	overflow-y: scroll;
	padding: 1em;
	position: absolute;
		top: 0;
		right: calc(var(--slide-closed-width) - var(--slide-open-width));
		bottom: 0;
	text-align: center;
	transition: 0.15s;
	width: var(--slide-open-width);
	z-index: 100;
}

#slide-menu.open {
	right: 0;
}

@media screen and (max-width: 700px) {
	#slide-menu {
		right: calc(var(--slide-closed-width) - 100vw);
    width: 100vw;
  }
}

.toggle-slide-menu {
	text-align: left;
	margin-left: -10px;
	width: 36px;
}

#slide-menu button span {
	line-height: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
}

#slide-menu .spectrum-ButtonGroup {
	max-width: 90%;
}

.spectrum-ToggleSwitch {
	display: block;
	margin: 0 auto;
	max-width: 180px;
	overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	text-align: left;
	width: 90%;
}

.spectrum-BarLoader:not(:first-child) {
	margin-top: 2em;
}

#processes > div:first-of-type{
	margin: 0 auto;
	max-width: 300px;
}

#outputs ul {
	display: inline-block;
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 0;
}

#outputs ul li:not(:first-child) {
	margin-top: 0.5em;
}

.bold {
	font-weight: bold;
	margin-right: 0.5em;
}

/* Settings */
#settings {
	display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 1em;
		place-items: stretch;
	margin: 0 10px;
}

.setting {
	border: 1px solid black;
	padding: 0.5em;
	position: relative;
	min-height: 100px;
	min-width: 200px;
}

.component-loader {
	display: inline-block;
	height: 32px;
	position: relative;
	width: 0;
}

.component-loader-inner {
	height: 18px;
	opacity: 100;
	position: absolute;
		right: 50%;
		top: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 1s;
	width: 18px;
}

.setting-picker .component-loader-inner {
	transform: translate(30%, -50%);
}

.setting-circle-loader, .setting-success-icon, .error-message {
	position: absolute;
	opacity: 100;
	transition: opacity 0.5s;
}

.error-message {
	bottom: 5px;
}

.invisible {
	opacity: 0;
}

.is-selected .component-loader {
	display: none;
}

.spectrum-Slider .component-loader {
	position: absolute;
}

.spectrum-Slider .component-loader-inner {
	height: 16px;
	width: 16px;
	transform: translate(50%, -50%)
}

.spectrum-Textfield, .spectrum-Dropdown {
	width: 97%;
}

.spectrum-Slider-labelContainer {
	padding-bottom: 4px;
}

.spectrum-Dropdown-popover {
	width: 100%;
}