:root {
	--blue: #039be5;
	--slide-closed-width: 36px;
	--slide-open-width: 35vw;
}

.spectrum-UIIcon-CrossMedium {
	width: 14px;
	height: 10px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow: hidden;
}

#device-name {
	text-align: center;
}

#banner-hr {
	margin-left: 10px;
	margin-right: 10px;
}

#main-content-inner {
	width: 100%;
}

#main-content-outer {
	padding-right: var(--slide-closed-width);
	transition: 0.15s;
	width: 100%;
}

#main-content-outer.drawer-open {
	padding-right: var(--slide-open-width);
}

#slide-menu {
	overflow-y: scroll;
	padding: 1em;
	position: absolute;
		top: 0;
		right: calc(var(--slide-closed-width) - var(--slide-open-width));
		bottom: 0;
	text-align: center;
	transition: 0.15s;
	width: var(--slide-open-width);
	z-index: 100;
}

#slide-menu.open {
	right: 0;
}

@media screen and (max-width: 700px) {
	#slide-menu {
		right: calc(var(--slide-closed-width) - 100vw);
    width: 100vw;
  }
}

.toggle-slide-menu {
	text-align: left;
	margin-left: -10px;
	width: 36px;
}

#processes > div:first-of-type{
	margin: 0 auto;
	max-width: 300px;
}

.bold {
	font-weight: bold;
	margin-right: 0.5em;
}

/* Settings */
#connect-message {
	height: 200px;
	margin: 20px;
	position: relative;
	text-align: center;
}

#connect-message em {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#settings {
	display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 1em;
		place-items: stretch;
	margin: 0 10px;
}

.setting {
	border: 1px solid black;
	padding: 0.5em;
	position: relative;
	min-height: 100px;
	min-width: 200px;
}

.invisible {
	opacity: 0 !important;
}