#outputs .spectrum-Label {
	min-width: 48px;
	padding-bottom: 2px;
	padding-top: 2px;
	text-align: center;
	transition: opacity 0.5s;
}

#outputs ul {
	display: inline-block;
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 0;
}

#outputs ul > div:not(:first-child) {
	margin-top: 0.5em;
}